<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345211163182-t3ulbe3ui9ulm701vfm3p9p8k6mu0a1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345211163182-t3ulbe3ui9ulm701vfm3p9p8k6mu0a1h</string>
	<key>API_KEY</key>
	<string>AIzaSyApk2H78XQGuGNOfrBHOkrTS4SXcoUGzh0</string>
	<key>GCM_SENDER_ID</key>
	<string>345211163182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vulcanlabs.co.upwork-match</string>
	<key>PROJECT_ID</key>
	<string>tinder-3f4ed</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-3f4ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345211163182:ios:942ebb2637f942fae005bf</string>
</dict>
</plist>