<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079778399430-ibrgq1ne6gu2d0n8r42jm5hiv5e11gdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079778399430-ibrgq1ne6gu2d0n8r42jm5hiv5e11gdu</string>
	<key>API_KEY</key>
	<string>AIzaSyB4vHIkJI-nOentGLLsSLXWHSkhbigMG5o</string>
	<key>GCM_SENDER_ID</key>
	<string>1079778399430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vulcanlabs.co.upwork-match</string>
	<key>PROJECT_ID</key>
	<string>upwork-tinder</string>
	<key>STORAGE_BUCKET</key>
	<string>upwork-tinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079778399430:ios:ddd8c04283928f1be8f3c7</string>
</dict>
</plist>